{% extends "base.html.twig" %}

{% block body %}
	<div class='mt-5 d-flex flex-column align-items-center'>
		<h1>Soyez les bienvenus sur mon BLOG !!</h1>
		<div class='mt-5'>
			<img src='https://media.giphy.com/media/13IjmDjuI66Xi8/giphy.gif' alt='welcome picture'>
		</div>
		<div/>
	{% endblock %}
