{% extends "base.html.twig" %}
{% block title %}
    Liste article >> {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Voici la liste des catégories</h1>
    <div class="row">
        {% for categorie in categories %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <i class="{{ categorie.Icone }}"></i>
                        <h5 class="card-title">{{ categorie.Libelle }}</h5>

                        <a href="/Categorie/Show/{{ categorie.Id }}" class="btn btn-primary">
                            Consulter
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}