{% extends "base.html.twig" %}

{% block body %}
    <h1>Détail de la catégorie</h1>
    <i class="{{ categorie.Icone }}"></i>
    <p>{{ categorie.Libelle }}</p>
    <p><a href="/Categorie/update/{{ categorie.Id }}"> Modifier cette catégorie </a></p>
    <p><a href="/Categorie/delete/{{ categorie.Id }}"> Supprimer cette catégorie </a></p>
{% endblock %}